<div class="page-wrapper" [ngStyle]="{'background' : 'url(./assets//img/faces/background.jpg)'}">
    <h1   style="background-color:dark coral" ALIGN="center"> <img src="assets/img/logo.png" alt="angular logo" width="400px" ></h1><br>
                 
<div class="container">
    <div class="centered">WELCOME</div><br><br>
 </div><br>
    <div class="container">
    <div class="centered">TO</div><br><br>
    </div><br><br>
    <div class="container">
   <div class="font">WOODS CAFETERIA 
    </div>
</div>
</div>


