<h2   style="background-image: url(assets/img/faces/background.jpg)" >
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Food Types</h4>
                      <a routerLink="/addtype" class="primary"><i class="material-icons">add</i></a>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class=" text-primary">
                                  <th *ngFor="let h of headers">
                                      {{h}}
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let t of types; let i = index">
                                      <td>
                                          {{i+1}}
                                      </td>
                                      <td>
                                          {{t.name}}
                                      </td>
                                      <td><a (click)="editType(t)" class="primary myButton"><i class="material-icons">edit</i></a></td>
                                      <td><a (click)="deleteType(t)" class="primary myButton"><i class="material-icons">delete</i></a></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
